project.json
*.bak
*.dsasbak

# Windows shortcuts
*.lnk

# Unpacked descriptions
*.fmg

# ParamStudio place holders
*.prev
*.temp
_ashes/param/gameparam/stayparam.parambnd.dcx

# folders
_ashes/sfx/frpg_sfxbnd_commoneffects_resource-ffxbnd-dcx
_ashes/sfx/frpg_sfxbnd_commoneffects_effect-ffxbnd-dcx
_ashes/sfx/frpg_sfxbnd_dlc1_effect-ffxbnd-dcx
_ashes/sfx/frpg_sfxbnd_dlc1_resource-ffxbnd-dcx
_ashes/sfx/frpg_sfxbnd_dlc2_effect-ffxbnd-dcx
_ashes/sfx/frpg_sfxbnd_dlc2_resource-ffxbnd-dcx
_ashes/menu/01_common-tpf-dcx
_ashes/menu/map
_ashes/map
_ashes/param/stayparam
_ashes/!personal-backup

# Graphic preset files
_ashes/param/drawparam/
_ashes/map/m[0-9][0-9]/
_ashes/map/m[0-9][0-9]_[0-9][0-9]_[0-9][0-9]_[0-9][0-9]/*.btl*
_ashes/map/mapstudio/
_ashes/menu/01_000_fe.gfx
_ashes/menu/01_001_fe_soul.gfx
_ashes/menu/delete 01_000 and 01_001 BB HUD for release .txt
_ashes/action/script/DS3_Act_List (1).txt
_ashes/action/script/DS3_Env_List (1).txt
/_ashes/sfx/frpg_sfxbnd_dlc2_effect-ffxbnd-dcx-wffxbnd
GraphicPresets/Performance/.smithbox/DS3/selections/selection_groups.json
GraphicPresets/Vanilla/.smithbox/DS3/selections/selection_groups.json
/_ashes/chr/_DSAS_CACHE
_ashes/chr/_DSAS_PROJECT.json
/_ashes/chr/_DSAS_TEMP
/_ashes/sfx/frpg_sfxbnd_dlc2_resource-ffxbnd-dcx-wffxbnd
/GraphicPresets/Performance/recovery
/GraphicPresets/Vanilla/recovery
_ashes/menu/05_900_logo_fromsoft.gfx
_ashes/menu/05_901_logo_bne.gfx
/_ashes/.smithbox
/GraphicPresets/Vanilla/param/gameparam
